input{
  width: 35px;
  // height: 24px;
  margin-left: 10px;
}
p{
  padding-bottom: 15px;
}
button{
  // height: 24px;
  background: red;
  border: none;
  color: white;
  font-size: 22px;
  padding: 10px 7px;
  margin-left: 5px;
  // margin-bottom: 10px;
  cursor: pointer;
  transition: .3s;
}
p,button,input,h1{
  font-family: 'Roboto Condensed', sans-serif;

}
p,input{
  font-size: 30px;
}
p,h1{
  text-align: center;
}
// button:hover{
// color:;

// }
