<div class="baner">
<h1>Koszulki męskie z
  rozgrywek Ligi Mistrzów</h1>
<button routerLink="/men">Kup teraz</button>
</div>

<section>
  <h1>Najlepiej sprzedawane</h1>

  <div class="photos">

    <div>
      <p>cena: <span></span></p>
      <button>Kup teraz</button>
    </div>
    <div>
      <p>cena: <span></span></p>
      <button>Kup teraz</button>
    </div>
    <div>
      <p>cena: <span></span></p>
      <button>Kup teraz</button>
    </div>

  <!-- <img src="photos/united.jpg" alt="">
  <img src="photos/napoli.jpg" alt="">
  <img src="photos/chelsea.jpg" alt=""> -->
  </div>

</section>

<footer>
  Koszulki dla pasjonatów &copy; Patryk Grzela
</footer>
